tmp/
testmedia/
.*
*.png
*.wmf

update.zip
tmp.json
s.zip
test.xml
test.html
test.docx
exportMedia
exported.dou
output.dou
*.dat
*.dou
!test.dou
!icon.png
go.sum
test.csv
testraw.xml
res.xml
venv
*.exe
dist
secretKey.json
build
./tmp.json
testsvr/testdata/*
!holder.txt
app/media/*
dglWrapper/CMakeUserPresets.json