
QWidget {
    font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
}

DouglasMainWidget {
}


#sidebar {
    border-right: 1px solid #e0e0e0;
}

QMainWindow {    
   background: qradialgradient(
        cx: 0.15, cy: 0.05,
        radius: 1,
        fx: 0.15, fy: 0.07,
        stop: 0    #b9ebe8,
        stop: 0.5  #eef4f3,
        stop: 1    #e1f5f4
    );
}

#mainContent {
    background-color: #ffffff;
    border-radius: 10px;
    margin-left: 14px;
}

QLabel {
    margin: 0px;
    padding: 0px;
}

QLabel[class="SimpleBtnIcon"] {
    font-family: lucide;
    font-size: 18px;
    margin-left: 8px;
    margin-right: 2px;
    color: #0F6E56;
}

QWidget[class="SimpleIconBtn"] {
    background-color: transparent;
    border: none;
    border-radius: 10px;
    padding: 9px 12px;
    text-align: left;
    font-size: 14px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 2px;
    margin-bottom: 2px;
    min-width: 115px;
}

QWidget[class="SimpleIconBtn"]:hover {
    background-color: #f1f5f9;
    color: #0f172a;
}

QWidget[class="SimpleIconBtn"]:checked {
    background-color: #ffffff;
    font-weight: 600;
}

QWidget[class="SimpleIconBtn"]:pressed {
    background-color: #f2f2f2;
}

QLabel[class="SimpleIconBtnLabel"] {
    color: #000;
    font-size: 14px;
}

QLabel[class="HdrIcon"] {
    font-size: 64px;
    margin-right: 2px;
}

QLabel[class="HdrTxt"] {
    font-weight: 600;
    font-size: 20px;
    margin-left: 8px;
}

QWidget[class="SidebarHdr"] {
    margin-bottom: 100px;
}

QLabel[class="MainContentTitle"] {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 1px;
}

QPushButton[class="IconOnlyBtn"] {
    font-family: lucide;
    font-size: 15px;
    background-color: transparent;
    border: none;
    margin: 2px;
    padding: 8px;
    border-radius: 10px;
    color: #475569;
}

QPushButton[class="IconOnlyBtn"]:hover {
    background-color: #f1f5f9;
    color: #0f172a;
}

QPushButton[class="IconOnlyBtn"]:pressed {
    background-color: #e2e8f0;
}

QPushButton[class="IconOnlyBtn"]:checked {
    background-color: #e2e8f0;
}
/* EditPage stuffs */

#EditPageToolbar {
    background-color: #ffffff;
    min-width: 100%;
    border-radius: 10px;
    margin-bottom: 4px;
    border: 1px solid #e2e8f0;
}

#TextEditArea {
    background-color: #ffffff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    min-height: 100%;
    border: 1px solid #e2e8f0;
    font-size: 15px;
    color: #1e293b;
    border: 1px solid #e2e8f0;
}

#PreviewArea {
    background-color: #ffffff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    min-height: 100%;
    border: 1px solid #e2e8f0;
    background-color: #f8fafc;
}